<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Edge Masters</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Membership</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/new-year-perk/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mb3">
					<li><a href="https://www.instagram.com/edgemasters.official/" class="link">Instagram</a></li>
					<li><a href="https://www.snapchat.com/add/edgemasters.org" class="link">Snapchat</a></li>
					<li><a href="https://www.linkedin.com/company/edge-masters-org" class="link">LinkedIn</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
