<div class="mv4">
  <div class="ph3 mw7 center">
    <div class="measure-narrow center mb4">
      <form name="join" method="POST" data-netlify="true" class="flex-ns mb3">
        <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
          <input type="email" id="email" name="email" placeholder="Email" class="w-100">
          <label for="email">We won't spam you</label>
        </fieldset>
        <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Request to join</button>
      </form>
    </div>
  </div>
</div>
</div>