.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: var(--bold-font-weight);
  color: var(--white);
  text-align: center;
  transition: var(--hover-transition);
}
