{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "table" .Params.pricing }}

{{ with .Params.main }}
<div class="mw7 center">
  <div class="ph3 mb3">
    <h2 class="f2 b lh-title mb2 tc">{{.heading}}</h2>
    {{ partial "join" . }}
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

{{ partial "4-up" .Params.intro }}

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">

<div class="mv4">
  {{ range .Params.testimonials }}
  {{ partial "blockquote" . }}
  {{ end }}
</div>

{{ end }}
